*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA #
*.iml
.idea

# Eclipse project files #
.settings
.project
.classpath
target
bin

# STS #
.apt_generated
.factorypath
.springBeans

.DS_Store